/**
    outline: 2px solid #000000*/

.title {
  justify-content: center;
}

.about-row {
  margin-top: 2rem;
  margin-left: 2rem;
  justify-content: space-around;
}

.flexor {
  display: flex;
  justify-content: space-between;
}

.side {
  display: inline-flex;
  margin-right: 1rem;
}

.port-item {
  margin-bottom: 2rem;
}

.container-fluid{
  background-image: url('/assets/land-page-bg.jpg');
  /* height: 100vh; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.portrait{
  background-image: url('https://lh3.google.com/u/0/d/1UgKEq6kTCEHtpkKJCA6zKUVKxU1HNHQ8=w1920-h1098-iv2');
  background-position: center;
  background-size: cover;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #000000;
  margin: 50px;
}

h2 {
  text-align: center;
}

.image {
  background-color: #d8d8d8;
}

#footer {
  height: 200px;
  background-color: #000000;
}

/*.nav:before,.nav:after
    content: " "
    display: table */
/**:before, *:after
    box-sizing: border-box */
