/**
    outline: 2px solid #000000*/

nav {
  margin-left: -15px !important;
  margin-right: -15px !important;
}

.title {
  justify-content: center;
  margin: 1rem;
}

.about-row {
  margin-top: 2rem;
  margin-left: 2rem;
  justify-content: space-around;
}

.flexor {
  display: flex;
  justify-content: space-between; 
}

.side {
  display: inline-flex;
  margin-right: 1rem;
}

.port-item {
  margin-bottom: 2rem;
  padding-top: 2rem;
}

.port-items {
  display: flex;
  justify-content: space-around;

}

.container-fluid{
  background-image: url('./land-page-bg-min.jpg');
  /* height: 100vh; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0 0px !important;
}

.about-ipsum-txt {
  line-height: 3rem;
  text-align: center;
}

.about-v-align {
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.portrait-row{
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
}

.image {
  background-color: #d8d8d8;
}

#footer {
  height: 200px;
  background-color: #000000;
}

/*.nav:before,.nav:after
    content: " "
    display: table */
/**:before, *:after
    box-sizing: border-box */
