/**
    outline: 2px solid #000000*/

nav {
  margin-left: -15px !important;
  margin-right: -15px !important;
  background-color: #daecf0;
}

h3 {
  font-size: 3rem;
}

.title {
  justify-content: center;
  margin: 1rem;
  font-family: 'Monoton', cursive;
  background-color: rgba(255,255,255,0.6);
  /* background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 15%,rgba(255,255,255,1) 19%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 81%,rgba(255,255,255,0.8) 85%,rgba(255,255,255,0) 100%); */
  margin-top: -2rem;
  margin-bottom: 1rem;
  margin-left: -3.80rem;
  margin-right: -.9rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  /* margin: 7rem; */
}

a {
  color: inherit;

}

a:hover {
  color: #cdcec4;
  text-decoration: none;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}


.about-row {
  margin-top: 2rem;
  margin-left: 2rem;
  justify-content: space-around;
}

.flexor {
  display: flex;
  justify-content: space-between; 
}

.side {
  display: inline-flex;
  margin-right: 1rem;
}

.pointer:hover{
  cursor: pointer;
}

.buttons {
  margin-top: 1rem;
}
.port-item {
  margin-bottom: 2rem;
  padding-top: 2rem;
}

.port-items {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;

}

.container-fluid{
  background-image: url('./land-page-bg-min.jpg');
  /* height: 100vh; */
  background-position: center;
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0 0px !important;
}

.about-ipsum-txt {
  line-height: 3rem;
  text-align: center;
  padding: 2rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

#about{
  padding-left: 3rem;
}

hr{
  margin-right: 3rem; 
}

p
{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  text-align: center;
}

.card-body{
  text-align: center;
}

.name{
  text-align: center;
  font-family: serif;
  margin-top: 2rem;
}

.about-v-align {
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1.5rem;
}

.parent-align{
  display: flex;
  padding-left: 15rem;
}

.center-bg {
  margin-top: 5rem;
  background-color: rgba(255,255,255,0.3);
}
.portrait-row{
  justify-content: center;
  align-items: center;
}

.portrait-block {
  margin-right: 3.5rem;
}

.portrait {
  border-radius: 50%;
  width: 100%;
  height: auto;
}

h2 {
  text-align: center;
}

.image {
  background-color: #d8d8d8;
}

#footer {
  height: 200px;
  background-color: #000000;
}

/*.nav:before,.nav:after
    content: " "
    display: table */
/**:before, *:after
    box-sizing: border-box */
